body {
    margin: 0;
    background-image: url(../img/mountains.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    color: purple;
    font-family: 'Lora', serif;
}

.bg-form {
    background-color: lightgrey;
    opacity: 0.7;
    width: 40%;
    border-radius: 1em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.form-control {
    width: 50%;
}

.form-container {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#word {
    margin-left: auto;
    margin-right: auto;
}
